<!DOCTYPE html>
<head>
	<title> Rxsty | Dashboard </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Your server can be auto-moderater by me. Using some of my commands will protect you from raids, nukes etc.
	
	🥇Labels: (Multipurpose) (automoderation) (fun) (memes and much more!)">
	<meta name="og:fields" content="Labels: (Multipurpose) (automoderation) (fun) (memes and much more!)">
	<meta property="og:image" content="https://cdn.discordapp.com/avatars/753544035825745961/34a3a3077269a0a735adf44b21fc9196.png?size=128">
	<meta name="theme-color" content="#9400D3">
	<link rel="icon" type="image/ico" href="https://cdn.discordapp.com/avatars/753544035825745961/34a3a3077269a0a735adf44b21fc9196.png?size=128">
	<main class="animsition-overlay" data-animsition-overlay="true" style="margin-bottom: 0px; opacity: 1;">
	<h1></> This endpoint that you looking does not exist. </></h1>